<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jj.mapper.ReplyMapper">

<select id="getList" resultType="org.jj.domain.ReplyVO">
select * from tbl_reply
where bno=#{bno}
order by rno
</select> 

<insert id="write">
insert into tbl_reply(bno, reply, replyer) values(#{bno}, #{reply}, #{replyer})
</insert>

<update id="update">
update tbl_reply
set
reply=#{reply},
updatedate = now()
where rno = #{rno}

</update>

<delete id="delete">
delete from tbl_reply
where rno = #{rno}
</delete>


<select id="read" resultType="org.jj.domain.ReplyVO">

select * from tbl_reply where rno = #{rno}
</select>

<!-- <select id="getList" resultType="org.jj.domain.Board">
select *
from
tbl_reply
where bno > (select max(bno)-10000 from tbl_reply)
order by bno desc
limit ${skip}, #{display}
</select> -->
	
	<select id="countReply" resultType="int">
	select count(bno) from tbl_reply where bno = #{bno}
	</select> 

<select id="getListPage" resultType="org.jj.domain.ReplyVO">
select rno,bno,reply,replyer,regdate,updatedate from tbl_reply
where bno = #{bno} and rno>0
limit #{skip}, #{display}

</select>

<select id="getCountByBno" resultType="integer">
select count(rno) from tbl_reply where bno = #{bno}
</select>

</mapper>